apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.deployment.name }}
  namespace: {{ .Values.namespace}}
spec:
  {{- if not .Values.keda.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      app: {{ .Values.app.label }}
  template:
    metadata:
      labels:
        app: {{ .Values.app.label }}
    spec:
      containers:
        - name: {{ .Values.app.label }}
          image: {{ .Values.image.name }}:{{ .Values.image.tag }}
          ports:
            - containerPort: {{ .Values.container.port }}
          volumeMounts:
            - name: nginx-config-volume
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default.conf
            - name: frontend-config-volume  
              mountPath: /usr/share/nginx/html/config.json
              subPath: config.json
      volumes:
        - name: nginx-config-volume
          configMap:
            name: {{ .Values.configMap.nginx.name }}  
            items:
              - key: default.conf
                path: default.conf
        - name: frontend-config-volume  
          configMap:
            name: {{.Values.configMap.vite.name}}  
