replicaCount: 1
image:
  name: 911167924085.dkr.ecr.ap-northeast-2.amazonaws.com/forever_us_registry
  tag: origin-main-5-e96201d
  pullPolicy: IfNotPresent

env:
  SPRING_DATASOURCE_URL: "jdbc:mysql://foreveryoung-us-aurora-db-cluster-1.cluster-ro-c6lsgsgq006k.us-east-1.rds.amazonaws.com"
  SPRING_DATASOURCE_USERNAME: "admin"
  SPRING_HIKARI_MAX_POOL_SIZE: "5"
  SPRING_HIKARI_MAX_IDLE: "2"

keda:
  enabled: false
