replicaCount: 1
image:
  name: 911167924085.dkr.ecr.ap-northeast-2.amazonaws.com/forever-kafka-stream
  tag: origin1-main-6-7090931
  pullPolicy: IfNotPresent

# env:
#   SPRING_DATASOURCE_URL: "jdbc:mysql://forever-mysql-db.ctouy8o0uopm.ap-northeast-2.rds.amazonaws.com/forever_mysql_db"
#   SPRING_DATA_MONGODB_URI : "mongodb+srv://abuga1008:504VqYlKe3KsPdbo@forever-prod-cluster.w8icrv3.mongodb.net/foreverdb?retryWrites=true&w=majority&appName=forever-prod-cluster"
keda:
  enabled: false
